.header {
    background-color: #1F2937;
    justify-content: space between;
}

html, body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.navigation {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-left:265px;
    padding-right:255px;
    flex:1;
}

ul {
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items:center;
    flex: 1;
    font-weight:250;
    color: #E5E7EB;
    font-size:20px;
    list-style: none;
}

li {
    margin-left:8px;
    margin-right:8px;
}

.header-logo {
display: flex;
font-size: 24px;
color: #F9FAF8;
font-weight:bold;
}


.intro {
    display:flex;
    justify-content: center;
    padding: 100px 300px 100px 300px;
    flex: 1;
}

.hero-text {
    font-size:18px;
    color: #E5E7EB;
    display:flex;
    flex-flow: column nowrap;
    flex: auto;
    align-self:center;
    justify-items: stretch;
    
}

.hero-main {
    font-size: 48px;
    font-weight:900;
    margin-right:24px;
    min-width:350px;
}

.hero-secondary {
font-size:20px;
color: #E5E7EB
margin-top: 24px;
margin-bottom: 24px;
}

img {
    display:flex;
    
    width:700px;
    height: 300px;
}

.information-header-text {
    display:flex;
    justify-content:center;
    align-content:center;
    padding:48px;
    font-size: 36px;
    font-weight: 900;
}

.box-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items:center;
    align-items: center;
    margin-bottom:22px;
    gap:88px;  
    text-align: center;
}

.textbox1 {
    display:flex;
    flex-flow: column wrap;
    max-width: 175px;
    
}

#box1 {
border-radius: 15px 15px 15px 15px;
border: 4px #3882F6;
border-style: solid;
width: 188px;
height: 188px;
display:flex;
margin-bottom: 12px;
}

.subtext1 {
    display:flex;
    flex-flow: row wrap;
    margin-bottom:50px;
    justify-content: center;
    align-items: center;
    font-weight:lighter;
    justify-content: center;
}

.textbox2 {
    display:flex;
    flex-flow: column wrap;
    max-width: 175px;
}

#box2 {
    border-radius: 15px 15px 15px 15px;
border: 4px #3882F6;
border-style: solid;
width: 188px;
height: 188px;
display:flex;
margin-bottom: 12px;
}

.subtext2 {
    display:flex;
    flex-flow: row wrap;
    margin-bottom:50px;
    font-weight:lighter;
    justify-content: center;
}

.textbox3 {
    display:flex;
    flex-flow: column wrap;
    max-width: 175px;
    
}

#box3 {
    border-radius: 15px 15px 15px 15px;
border: 4px #3882F6;
border-style: solid;
width: 188px;
height: 188px;
display:flex;
margin-bottom: 12px;
}

.subtext3 {
    display: flex;
    flex-flow: row wrap;
    margin-bottom:50px;
    font-weight:lighter;
    justify-content: center;
}

.textbox4 {
    display:flex;
    flex-direction: column;
    max-width: 175px;

}

#box4 {
    border-radius: 15px 15px 15px 15px;
border: 4px #3882F6;
border-style: solid;
width: 188px;
height: 188px;
display:flex;
margin-bottom: 12px;
}

.subtext4 {
    display:flex;
    flex-flow: row wrap;
    margin-bottom:50px;
    font-weight:lighter;
    justify-content: center;
}

.quote-section {
background-color: #E5E7EB;
display:flex;
flex-wrap: nowrap;
flex: none;
flex-direction: column;
justify-content:center;
align-content: center;
padding: 150px 350px 100px 350px;
}

.quote {
    font-size: 36px;
    font-style:italic;
    font-weight: light;
    font-color: #1F2937;
    display:flex;
    justify-content:flex-start;
    margin-bottom: 22px;
    flex-wrap: nowrap;
}

.author {
display:flex;
justify-content: flex-end;
font-weight: bold;
font-size:24px;
margin-right: 50px;
}

.cta {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 7px 7px 7px 7px;
    margin: 111px 265px 111px 265px;
    padding: 55px 0px 55px 0px;
}

.cta-text {
    font-size: 20px;
    color: #E5E7EB;
    
   
}

button {
    background-color: #3882F6;  
    box-sizing:content-box;
    color: #E5E7EB;
    border:#3882F6;
    font-weight: 700;
    font-size:16px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 850px;
    display:flex;
    flex-wrap: wrap;
    width: 90px;
    justify-content: center;
    padding:4px;
}

.button2 {
    display: flex;
    align-self:center;
    justify-content: flex-end;
    border:#F9FAF8;
    padding: 12px 0px 12px 199px;
    margin: 6px 12px 6px 12px;
    color:#F9FAF8;
    min-width:77px;
}

.footer {
    background-color:#1F2937;
    color:#F9FAF8;
    font-size: 18px;
    padding: 48px;
    display:flex;
    justify-content: center;
    align-items: center;
}
