.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space between;
}

html, body {
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}

.navigation {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-left:265px;
    padding-right:255px;
    flex:1;
}

ul {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    align-items:center;
    align-content: center;
    flex: 1;
    font-weight:400px;
    color: #E5E7EB;
    font-size:20px;
    list-style: none;
}

li {
    margin-left:8px;
    margin-right:8px;
}

.header-logo {
display: flex;
flex-wrap: nowrap;
font-size: 24px;
color: #F9FAF8;
font-weight:bold;
}


.intro {
    display:flex;
    flex-direction:row;
    justify-content:center;
    background-color:#1F2937;  
    padding:100px 350px 100px 350px;
    overflow: hidden;
}

.hero-text {
    color: #E5E7EB;
    display:flex;
    flex-flow: column wrap;
    flex: auto;
    align-self:center;
    margin:22px 44px 22px 22px;
}
.hero-heading {
    font-size:48px;
}

.sub-text {
    font-size:18px;
    margin-top:22px;
    margin-bottom:22px;
}

.information-header-text {
    display:flex;
    justify-content:center;
    align-content:center;
    padding:48px;
    font-size: 36px;
    font-weight: 900;
}

img {
    display:flex;
    min-width: 444px;
    max-width: 666px;
    height: auto;
    border-radius: 10px;
}

.box-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items:center;
    align-items: center;
    margin-bottom:22px;
    gap:88px;  
    text-align: center;
    margin-left:22px;
    margin-right:22px;
    
}

.textbox1 {
    display:flex;
    flex-flow: column wrap;
    max-width: 175px;
    
}

#box1 {
border-radius: 15px 15px 15px 15px;
border: 4px #3882F6;
border-style: solid;
width: 188px;
height: 188px;
display:flex;
margin-bottom: 12px;
}

.subtext1 {
    display:flex;
    flex-flow: row wrap;
    margin-bottom:50px;
    justify-content: center;
    align-items: center;
    font-weight:lighter;
    justify-content: center;
}

.textbox2 {
    display:flex;
    flex-flow: column wrap;
    max-width: 175px;
}

#box2 {
    border-radius: 15px 15px 15px 15px;
border: 4px #3882F6;
border-style: solid;
width: 188px;
height: 188px;
display:flex;
margin-bottom: 12px;
}

.subtext2 {
    display:flex;
    flex-flow: row wrap;
    margin-bottom:50px;
    font-weight:lighter;
    justify-content: center;
}

.textbox3 {
    display:flex;
    flex-flow: column wrap;
    max-width: 175px;
    
}

#box3 {
    border-radius: 15px 15px 15px 15px;
border: 4px #3882F6;
border-style: solid;
width: 188px;
height: 188px;
display:flex;
margin-bottom: 12px;
}

.subtext3 {
    display: flex;
    flex-flow: row wrap;
    margin-bottom:50px;
    font-weight:lighter;
    justify-content: center;
}

.textbox4 {
    display:flex;
    flex-direction: column;
    max-width: 175px;

}

#box4 {
    border-radius: 15px 15px 15px 15px;
border: 4px #3882F6;
border-style: solid;
width: 188px;
height: 188px;
display:flex;
margin-bottom: 12px;
}

.subtext4 {
    display:flex;
    flex-flow: row wrap;
    margin-bottom:50px;
    font-weight:lighter;
    justify-content: center;
}

.quote-section {
background-color: #E5E7EB;
display:flex;
flex-wrap: nowrap;
flex: none;
flex-direction: column;
justify-content:center;
align-content: center;
padding: 150px 350px 100px 350px;
overflow: hidden;
}

.quote {
    font-size: 36px;
    font-style:italic;
    font-weight: light;
    font-color: #1F2937;
    display:flex;
    justify-content:flex-start;
    margin-bottom: 22px;
    flex-wrap: nowrap;
}

.author {
display:flex;
justify-content: flex-end;
font-weight: bold;
font-size:24px;
margin-right: 50px;
}

.cta {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    border-radius: 7px 7px 7px 7px;
    margin: 111px 220px 111px 220px;
    padding: 66px 40px 66px 40px;
}

.text-1 {
    font-size: 21px;
    color: #E5E7EB;
    display:flex;
    flex-wrap: nowrap;
    margin-bottom: 12px;
}

.text-2 {
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    color: #E5E7EB;
    font-size: 19px;
}

button {
    background-color: #3882F6;  
    border:3px solid #3882F6;
    box-sizing:content-box;
    color: #E5E7EB;
    font-weight: 900;
    font-size:18px;
    border-radius: 5px;
    display:flex;
    flex-wrap: wrap;
    width: 90px;
    justify-content: center;
    padding:6px 10px 6px 10px;
}

.sign-up {
    color:#F9FAF8;
    border: 3px solid #E5E7EB;
    border-radius: 5px;
    margin:32px 32px 0px 32px;
}

.footer {
    background-color:#1F2937;
    color:#F9FAF8;
    font-size: 18px;
    padding: 48px;
    display:flex;
    justify-content: center;
    align-items: center;
}
